@model MovieApp.ViewModels.MovieViewModel
@{
    ViewBag.Title = "MovieForm";
}

<h2>@Model.Heading</h2>

@using (Html.BeginForm("Save", "Movies", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Movie.Id)
    @Html.HiddenFor(x => x.Movie.DateAdded)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.Name)
        @Html.TextBoxFor(x => x.Movie.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Movie.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.ReleaseDate)
        @Html.EditorFor(x => x.Movie.ReleaseDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Movie.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.Genre)
        @Html.DropDownListFor(x => x.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Any Movie Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Movie.Genre)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Movie.NumberInStock)
        @Html.TextBoxFor(x => x.Movie.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Movie.NumberInStock)
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}